<h2>
  Destinations
</h2>
<div *ngIf="dests && dests.length > 0">
  <ul>
    <li *ngFor="let destination of dests">
      <a routerLink="/destination/{{destination.id}}">
        {{destination.name}}
      </a>
       : {{destination.address}}
    </li>
  </ul>
</div>
<div *ngIf="!(dests && dests.length > 0)">
  <span>No destinations found</span>
</div>
<br/>
<div>
  <label>Name:
    <input #name type="text"/>
  </label>
  <label>Address:
    <input #address type="text" type/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(name.value,address.value); name.value=''; address.value = '';">
    Add Destination
  </button>
</div>



